@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --color-bg: #05070A;
  --color-card-bg: rgba(255, 255, 255, 0.03);
  --color-card-border: rgba(255, 255, 255, 0.08);
  --color-accent: #00F0FF;
  --color-success: #00FF94;
  --color-warning: #FFD600;
  --color-text-p: #FFFFFF;
  --color-text-s: #8A8F98;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-bg);
  color: var(--color-text-p);
}
